* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  color: white;
}

header {
  position: sticky;
  top: 0;
}

nav {
  padding-left: 100px;
  padding-right: 100px;
  background: transparent;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.leftNav {
  width: 60vw;
  display: flex;
  flex-flow: row wrap;
  place-content: center space-around;
}
.rightNav {
  width: 15vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  padding-left: 80px;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
  text-shadow: rgb(244, 244, 94) 0 0 30px;
}
nav button {
  background-image: url(./images/preferences.png);
  background-size: cover;
  background-color: transparent;
  border: 0;
  width: 80px;
  height: 80px;
}

nav button:hover {
  box-shadow: rgb(244, 244, 94) 0 0 30px, rgb(244, 244, 94) 0 0 -30px;
}

main {
  display: flex;
  flex-direction: column;
}
.container {
  height: 100vh;
  max-width: 100vw;
  background-size: cover;
}

.moon {
  background-image: url(./images/moon-4k-full-moon-over-forest-cval4u1dyiy223ch.jpg);
}
.pluto {
  background-image: url(./images/brown-surface-of-pluto-lm0v4ten2kvzuzc5.jpg);
}
.tree {
  background-image: url(./images/AstroTree.jpg);
}

.frog {
  background-image: url(./images/frog\ astro.jpg);
}

.dog {
  background-image: url(./images/dogAstro.jpg);
}

.cat {
  background-image: url(./images/cat_colorful_background_art_4k_desktop_pc_by_anidrawnet_dgykxa7.jpg);
}
